<div ng-controller="reportProfitController">
	<div class="row">
                <div class="col-md-10 col-sm-10 col-xs-10">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>月度流水走势<small>近12个月</small></h2>
                            <div class="clearfix no-right"></div>
                        </div>
                    </div>
                    <div class="x_content">
                        <div id="mainb" style="height:350px;"></div>
                    </div>
                </div>
            </div>

            <div class="ln_solid"></div>

            <div class="row">
                <div class="col-md-10 col-sm-10 col-xs-10">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>每日流水走势<small>近30天</small></h2>
                            <div class="clearfix no-right"></div>
                        </div>
                    </div>
                    <div class="x_content">
                        <div id="echart_line" style="height:350px;"></div>
                    </div>
                </div>
            </div>

</div>